{
  "swagger" : "2.0",
  "info" : {
    "version" : "0.0.0.1",
    "title" : "Memberlive API",
    "description" : "A sample API that uses a petstore as an example to demonstrate features in the swagger-2.0 specification",
    "termsOfService" : "http://helloreverb.com/terms/",
    "contact" : {
      "name" : "Memberlive API team",
      "email" : "sureshnachiappan@gmail.com",
      "url" : "http://memberlive.io"
    },
    "license" : {
      "name" : "MIT",
      "url" : "http://opensource.org/licenses/MIT"
    }
  },
  "host" : "api.memberlive.io",
  "basePath" : "/v0",
  "schemes" : [ "http" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/user/id/{id}" : {
      "get" : {
        "description" : "Returns a user based on a single ID",
        "produces" : [ "application/json", "application/xml", "text/xml", "text/html" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of user to fetch",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "user response",
            "schema" : {
              "$ref" : "#/definitions/id"
            }
          },
          "default" : {
            "description" : "unexpected error",
            "schema" : {
              "$ref" : "#/definitions/errorModel"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "id" : {
      "type" : "object",
      "required" : [ "id", "name" ],
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "name" : {
          "type" : "string"
        }
      }
    },
    "errorModel" : {
      "type" : "object",
      "required" : [ "code", "message" ],
      "properties" : {
        "code" : {
          "type" : "integer",
          "format" : "int32"
        },
        "message" : {
          "type" : "string"
        }
      }
    }
  }
}